


/* 导航 */
header{
    padding: 0;
    margin: 0 0 10px 0;
}
.r_nav{
    width: 68%;
    height: 35px;
    border: solid 1px #eeeeee;
    border-radius: 2px;
    margin: 1px 0 1px 0;
}
.r_box{
    width: 15%;
    height: inherit;
    float: left;
    padding: 6px 0 0 20px;
    color:#999999;
    font-size: 0.9em;
}
.r_nbox{
    margin:0 5px 0 5px;
    text-align: center;
    padding: 6px 0 0 0;
    float: left;
    width: 10%;
    height: inherit;
}
.r_nbox:hover{
    background: #eeeeee;
    font-weight: 500;
    cursor: pointer;
}
.r_nbox a{
    color: #e3e3e3;
    font-size: 0.9em;
}
.r_nbox a:hover{
    text-decoration: none!important;
    color: #e3e3e3;
    font-weight: 500;
}
/*. 人物显示 */
.col-sm-8{
    /*border-top:solid 1px #dddddd ;*/
    padding: 10px 0 15px 0;
}
/* 照片 */
.photo{
    width: 100px;
    height: 130px;
    border-radius: 2px;
    float: left;
    overflow: hidden;
    margin: 0 10px 0 10px;
}
.photo img{
    width: inherit;
    height: inherit;
}
/* 放大 */
.scholer_photo:hover{
    -webkit-transform: scale(1.1);
    transition: all 0.6s ease-in-out;
}
/* 介绍 */
h5 a{
    color: #0000b0;
    font-weight: 700;
}
h5 a:hover{
    text-decoration: none!important;
    color: #1d8af5;
}
/* 学生 */
.r_info{
     color: grey;
     font-size: 0.8em;
 }
.r_info span{
    font-weight: 600;
    color: #c85c09;
}
/* 老师 */
.r_advisor span{
    font-size: 0.95em;
    color: grey;
}
.r_advisor a{
    color: grey;
    font-size: 0.9em;
}
.r_advisor a:hover{
    color: #b3b3b3;
    border: solid 1px #c9c9c9;
    box-shadow: 0 0 2px 1px #7c7c7c;
}
.r_beg{
    margin: 20px 0 0 0;
}
.r_beg span{
    font-size: 0.8em;
}
/* 按钮组 */
.p_page{
    float: left;
    padding: 5px 10px 0 0;
}
.p_input{
    width: 30%;
    float: left;
    height: 30px;
    margin: 0 10px 0 0;
}
hr{
    height: 1px;
    border: none;
    background-color: #0f7d98;
}
.m_content{
    padding: 5px;
}
.intro {
    padding:5px;
    border:1px solid white;
    border-radius: 5px;
    background: white;
    box-shadow:0 0 7px white;

    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
}