

/*搜索框*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
/* Form wrapper styling */
.form-wrapper {
    width: 470px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
/* Form text input */
.form-wrapper input {
    width: 330px;
    height: 40px;
    padding: 10px 0 ;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    /*background: #118cd6;
    opacity: 0.5;*/
    color: #5b5b5b;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px 0 0 3px;
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    color:black;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: absolute;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #800000;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    margin-left:-55px;
}
.form-wrapper button:hover{
    background: #e54040;
}
.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #800000 transparent;
    top: 12px;
    left:-6px;
}
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.search{
    position:absolute;
    float:left;
    z-index:110;
    left:0px;
    right:0px;
    margin-top: -7%;
}

/*图片滑停*/
  .single-member{
      width: 280px; float: left; /*margin: 30px 2.5%;*/ background-color: #fff; text-align: center; position: relative;
      margin:0 auto;
  }
.member-image img{max-width: 100%; vertical-align: middle;}
/*h3 {font-size: 24px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
h5 {font-size: 16px; font-weight: 300; margin: 0 0 15px; line-height: 22px;}
p {font-size: 14px; font-weight: 300; line-height: 22px; padding: 0 30px; margin-bottom: 10px;}*/

.effect-4{max-height: 289px; min-height: 289px; overflow: hidden;}
.effect-4 h3{line-height: 35px;}
.effect-4 .member-image{position: absolute; width: 100%; transition: 0.4s;}
.effect-4 .member-image img{width: 100%;}
.effect-4 .more-info{height: 0; transition: 0.4s; overflow: hidden; z-index: 9; position: relative; background-color: #fff;}
.effect-4:hover .more-info{height: 208px; transition: 0.4s;}
/*= effect-4 css end =*/

/*= Media Query
=============== */
@media only screen and (max-width: 980px){
    .row{width: 100%; margin: 110px 0;}
    .team-members{text-align: center;}
    .single-member{float: none; display: inline-block; vertical-align: bottom;}
}